[submodule "lib/foundry-chainlink-toolkit"]
	path = lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
