[submodule "lib/foundry-chainlink-toolkit"]
	path = lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/ccip"]
	path = lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "lib/foundry-devops"]
	path = lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops